<!-- product list start -->
<div class="container admin form-top ">
 <H1>Add Product</H1>
 <form  ng-submit="submitForm(formobj)">
      <input placeholder='Product Name' type="text" name="product" autocomplete="off" ng-model="formobj.product"><br>


      <input placeholder='Price' type="number" name="product"  ng-model="formobj.price"><br>
      <input placeholder='Description' type="text" name="product" ng-model="formobj.description"><br>
      <input placeholder='Quantity' type="number" name="product"  min="0" max="5"  ng-model="formobj.quantity"><br>

      <input type="file" id="files" class="col-w custom-in" ngf-select ng-model="formobj.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" />
      <div class="marb10"><img style="width:120px; height:100px; " ng-show="formobj.file" ngf-thumbnail="formobj.file || 'images/thumb.jpg'"/></div>





<!--       <div style="height: 10px; margin-top:10px; margin-bottom:10px; float: left; background: #EA4F4C; float: left; overflow: hidden; width: {{progress}}" xng-style="{'widht': progress}" >{{progress}}</div> -->


      <input type="submit" class="btn btn-primary btn-lg"/>
     
 </form>
 <div class="">
    <table class="table table-bordered">
      <thead>
        <th>Product View</th>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Action</th>
      </thead>

      <tbody>
        <tr ng-repeat="users in userdata">
        <td><img ng-src="{{BaseImageUrl}}{{users.ProfileImage}}" width="100px" style="margin-right: 10px; vertical-align: top" /></td>
          <td>{{$index+1}}</td>
          <td>{{users.product}}</td>
          <td>{{users.price}}</td>
          <td>{{users.description}}</td>
          <td>{{users.quantity}}</td>
          <td >
          <a href="javascript:void(0)" ng-click="deleteUser(users , $index)" style="margin-right:10px">Delete</a>
          <a href="javascript:void(0)" ng-click="EditUser(users , $index)">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
 </div>
</div>
<!-- product list end -->
